<div class="container-fluid">
  <div class="container xd-container">
    <h2>Offers</h2>
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
        <tr>
          <th>Title</th>
          <th>Details</th>
          <th>Discount</th>
          <th>Date </th>
          <th>Delete</th>
          <th>Edit</th>
        </tr>
        </thead>

        <tbody>
        <tr *ngFor="let offer of offers">
          <td>{{offer.title}}</td>
          <td>{{offer.description}}</td>
          <td>{{offer.discount}}</td>
          <td>{{offer.expiration}}</td>
          <td><button class="btn btn-default" (click)="deleteOffer()">Del Offer</button></td>
          <!-- <td><button class="btn btn-default" (click)="deleteOffer()">Edit Offer</button></td> -->
          <th><a routerLink="./{{offer.id}}" class="btn btn-default" >Editar</a></th>
        </tr>
        <tr>
          <!-- <td>{{offer.title}}</td>
          <td>{{offer.details}}</td>
          <td>{{offer.discount}}</td>
          <td>{{offer.date}}</td> -->
          <td>
          <!-- <button class="btn btn-default" (click)="deleteOffer()">Del Offer</button> -->
          <!-- <button class="btn btn-default" (click)="editOffer()">Edit Offer</button> -->
          
        </td>
        </tr>

        </tbody>
      </table>
      <div>
        <a class="btn btn-default" routerLink="./add">Add Offer</a><!-- <button class="btn btn-default" (click)="addOffer()">Add Offer</button> -->
      </div>
    </div>
  </div>
</div>