<div class="container-fluid">
  <div class="container xd-container">
    <h2>
      New Offer
    </h2>
    <form (ngSubmit)="onSubmit(offerForm.value)" #offerForm="ngForm" class="form-horizontal">
      <div class="form-group">
          <label>Title</label>
          <input class="form-control" type="text" [(ngModel)]="offer.title" />
      </div>
      <div class="form-group">
          <label>Description</label>
          <input class="form-control" type="text" [(ngModel)]="offer.description" />
        </div>
        <div class="form-group">
            <label>Discount</label>
            <input class="form-control" type="text" [(ngModel)]="offer.discount" />
          </div>
          <div class="form-group">
              <label>Expiration</label>
              <input class="form-control" type="date" [(ngModel)]="offer.expiration" />
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-default" >Add Offer</button>
              </div>
    </form>
  </div>
</div>